@media (min-width:1200px){

	body{
		background: black;
		height:100%;
	}

	.content{
		background: url(../../../../../../com/creditosBancarios/api/views/assets/img/fondo.jpg);
		height:1000px;
	}

			.content__header__div-img-logo	{
				width: 250px;
				height: 130px;
	  		background: 	url(../../../../../../com/creditosBancarios/api/views/assets/img/logo.jpg);
	  		position: relative;
	    	left: 120px;
			}
			.content__header__user{
				position: relative;
	    	left: 450px;
				margin-top: 50px;
			}
					.content__header__user__col__lbl-user{
						font-size: 20px;
						margin-right: 20px;
						color: white;

					}
					.content__header__user__col__btn{

					}
		.content__center-user{
			margin-top: 30px;
			left: 90px;
		}
			.content__center-user__list {
				background: white;
				margin-top: 30px;
			}
			.content__center-user__div-data{
			position: relative;
			top: 100px;
			left: 90px;
			}
				.content__center-user__div-data__lbl{
					font-size: 20px;
					margin-right: 20px;
					color: white;

				}
					.content__center-user__div-data-user__div-key__key{

					}
				.content__center-user__div-data__cmb-box{
					margin-top: 20px;
				}
				.content__center-user__div-data__btn{
					margin:20px;

				}
				.content__center-user__div-data__txta--credit{
					height:50px;
				}
		.content__center-login	{
			height: 600px;
			position: relative;
			background: white;

			margin:30px;
		}
			.content__center-login__logo-user{
				background: url(../../../../../../com/creditosBancarios/api/views/assets/img/user.png);
				width: 250px;
				height: 250px;
				position: relative;
				left: 400px;
			}
			.content__center-login__frame{
				position: relative;
				left: 350px;
				top: 50px;
			}

	.content-2 {
		background: url(../../../../../../com/creditosBancarios/api/views/assets/img/fondo.jpg);
		height:1300px;
	}



	p{
	  font-size: 25px;
	  font-weight: bold;
	  color: white;
	}




	table{
		background: white;
		width: 100%;
	}


}

@media (max-width:1199px) and (min-width:200px) {
	body{
		background: black;
		height:100%;
	}
	div#logo{
	  width: 250px;
		height: 130px;
	  background: url(../../../../../../com/creditosBancarios/api/views/assets/img/logo.jpg);
	  position: relative;
	    left: 50px;
	}
	div#boxCenter{
		background: url(../../../../../../com/creditosBancarios/api/views/assets/img/fondo.jpg);

		height:1000px;
	}
	div#boxCenter2{
		background: url(../../../../../../com/creditosBancarios/api/views/assets/img/fondo.jpg);
		height:1600px;
	}
	/*---------------------------------INICIO---------------------------------------*/
	button#btnLoginUser{
	  margin:10px;
	}
	div#form{
		aling-items: center;
		justify-content: center;
		left: 150px;
		top: 50px;
	}

	p{
	  font-size: 25px;
	  font-weight: bold;
	  color: white;
	}


	div#center{

		height: 600px;
		position: relative;
	  background: white;

	    margin:50px;
	}
	div#divImgUser{
		background: url(../../../../../../com/creditosBancarios/api/views/assets/img/user.png);
		width: 250px;
		height: 250px;
		position: relative;
		left: 150px;
	}


	/*---------------------------------EMPLEADO---------------------------------------*/
	 div#manager{

	   margin-top:  200px;
	  margin-left:  40px;
	 }
	 div#headManager{
		 left: 100px;
		 margin-top:  20px;
		margin-left:  40px;
	 }
	 button#btnAcceptManager{
	   position: relative;
	     left: 300px;
	     margin: 150px;
			width: 150px;
	 }

	/*---------------------------------Investigacion Telefonica---------------------------------------*/
	div#divTelephoneResearch{
		position: relative;
			top: 150px;


	}
	button#btnAcept{
		margin: 30px;
		position: relative;
			left: 400px;

	}
	div#navSearchID{
		margin: 30px;
	}
	div#searchIdCostumer{
	  position: relative;
	    top: 10px;
	    left: 120px;
	}
	button#btnselectIdCostumer{
		position: relative;
			left: 700px;;
		margin: 30px;
	}

	/*---------------------------------Formulario de Notificacion de empleado---------------------------------------*/

	div#login{
		left: 100px;
		top :30px;
		margin-top:  20px;
	 margin-left:  40px;

	 margin-left:  40px;
	}
	div#divAcept{
		position: relative;
			top: 150px;
			left: 700px;
			margin: 20px;
	}
	div#divRequest{
		position: relative;
			top: 150px;

	}
	div#divDataCostumer{
		position: relative;
			top: 200px;

	}
	div#divReferences{
		position: relative;
			top: 240px;

	}

	div#divComment{
		position: relative;
			top: 300px;

	}
	button#accept{
		margin: 20px;
	}
	button#selectRequests{
		margin: 20px;
	}

	table{
		background: white;
		width: 100%;
	}
	button#btnSubmitRequest{
		margin: 20px;
		width: 200px;
	}
	/*---------------------------------Notificacion para usuario---------------------------------------*/
	div#divNotificationId{
		background: white;
	}
	button#btnSubmitNotification{
		margin: 20px;
		width: 200px;
		position: relative;
		left: 400px;
	}
	/*---------------------------------Busqueda de clientes para dictaminacion por ID---------------------------------------*/
	button#btnSelectIdDict{
		margin: 30px;
	}
	div#divDictaminator{
		left: 100px;
		top :30px;
		margin-top:  20px;
	 margin-left:  40px;
	}
	div#divImgUser{
		(../../../../../../com/creditosBancarios/api/views/assets/img/user.png);
	}

}
