@media (min-width:1200px){

	body{
		background: black;
		height:100%;
	}

	.content{
		background: url(../../../../../../com/creditosBancarios/api/views/assets/img/fondo.jpg);
		height:1000px;
	}

			.content__header__div-img-logo	{
				width: 250px;
				height: 130px;
	  		background: 	url(../../../../../../com/creditosBancarios/api/views/assets/img/logo.jpg);
	  		position: relative;
	    	left: 120px;
			}
			.content__header__user{
				position: relative;
	    	left: 450px;
				margin-top: 50px;
			}
					.content__header__user__col__lbl-user{
						font-size: 20px;
						margin-right: 20px;
						color: white;

					}
					.content__header__user__col__btn{

					}
		.content__center-user{
			margin-top: 30px;
			left: 90px;
		}
			.content__center-user__list {
				background: white;
				margin-top: 30px;
			}
			.content__center-user__div-data{
			position: relative;
			top: 100px;
			left: 90px;
			}
				.content__center-user__div-data__lbl{
					font-size: 20px;
					margin-right: 20px;
					color: white;

				}
					.content__center-user__div-data-user__div-key__key{

					}
				.content__center-user__div-data__cmb-box{
					margin-top: 20px;
				}
				.content__center-user__div-data__btn{
					margin:20px;

				}
				.content__center-user__div-data__txta--credit{
					height:50px;
					margin-top: 20px;
				}
		.content__center-login	{
			height: 600px;
			position: relative;
			background: white;

			margin:30px;
		}
			.content__center-login__logo-user{
				background: url(../../../../../../com/creditosBancarios/api/views/assets/img/user.png);
				width: 250px;
				height: 250px;
				position: relative;
				left: 400px;
			}
			.content__center-login__frame{
				position: relative;
				left: 200px;
				top: 50px;
			}

	.content-2 {
		background: url(../../../../../../com/creditosBancarios/api/views/assets/img/fondo.jpg);
		height:1300px;
	}



	p{
	  font-size: 25px;
	  font-weight: bold;
	  color: white;
	}




	table{
		background: white;
		width: 100%;
	}


}

@media (max-width:1199px) and (min-width:200px) {
	body{
		background: black;
		height:100%;
	}

	.content{
		background: url(../../../../../../com/creditosBancarios/api/views/assets/img/fondo.jpg);
		height:1000px;
	}

			.content__header__div-img-logo	{
				width: 250px;
				height: 130px;
				background: 	url(../../../../../../com/creditosBancarios/api/views/assets/img/logo.jpg);
				position: relative;
				left: 80px;
			}
			.content__header__user{
				position: relative;
				left: 200px;
				margin-top: 50px;
			}
					.content__header__user__col__lbl-user{
						font-size: 20px;
						margin-right: 20px;
						color: white;

					}
					.content__header__user__col__btn{

					}
		.content__center-user{
			margin-top: 30px;

		}
			.content__center-user__list {
				background: white;
				margin-top: 30px;
			}
			.content__center-user__div-data{
			position: relative;
			top: 100px;

			}
				.content__center-user__div-data__lbl{
					font-size: 20px;
					margin-right: 20px;
					color: white;

				}
					.content__center-user__div-data-user__div-key__key{

					}
				.content__center-user__div-data__cmb-box{
					margin-top: 20px;
				}
				.content__center-user__div-data__btn{
					margin:20px;

				}
				.content__center-user__div-data__txta--credit{
					height:50px;
				}
		.content__center-login	{
			height: 600px;
			position: relative;
			background: white;

			margin:30px;
		}
			.content__center-login__logo-user{
				background: url(../../../../../../com/creditosBancarios/api/views/assets/img/user.png);
				width: 250px;
				height: 250px;
				position: relative;
				left: 200px;
			}
			.content__center-login__frame{
				position: relative;
				left: 100px;
				top: 50px;
			}

	.content-2 {
		background: url(../../../../../../com/creditosBancarios/api/views/assets/img/fondo.jpg);
		height:1300px;
	}



	p{
		font-size: 25px;
		font-weight: bold;
		color: white;
	}




	table{
		background: white;
		width: 100%;
	}


}
